/* gearl */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:visited {
  color: #1a0dab;
}

/* seção do header */

.header-container {
  border-bottom: 1px solid #ebebeb;
}

.search-box {
  padding: 20px 0 9px 0;
}

.search-box img {
  position: absolute;
  width: 92px;
  top: 30px;
  left: 20px;
}

.search-box form {
  position: relative;
  display: inline-block;
}

.search-box .search-input {
  width: 657px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #dfe9e5;
  padding: 0 21px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  margin-left: 146px;
  margin-bottom: 20px;
  font-size: 16px;
}

.search-box .search-input:focus {
  outline: none;
}

#search-icon,
#mic-icon,
#keyboard-icon {
  position: absolute;
  font-size: 18px;
  top: 14px;
}

#search-icon {
  right: 18px;
}

#mic-icon {
  right: 53px;
}

#keyboard-icon {
  right: 88px;
}

/* navbar do header  */

nav .list-links {
  list-style-type: none;
  margin-left: 146px;
}

.list-links li {
  display: inline-block;
  padding: 0 11px;
}

.list-links li.active {
  border-bottom: 3px solid #1a73e8;
}

.list-links li a {
  display: inline-block;
  text-decoration: none;
  color: #5f6369;
  font-size: 13px;
  padding-bottom: 12px;
}

.list-links li.active a {
  color: #1a73e8;
}

.list-links li a:hover {
  color: #1a73e8;
}

.list-links li span {
  display: inline-block;
  font-size: 16px;
}

/* conteudo principal */

.main-content {
  display: flex;
  flex-direction: row;
  padding: 0 70px 0 165px;
}

main {
  flex: 2 1 0;
  padding-right: 35px;
}

aside {
  flex: 1 1 1;
  max-width: 460px;
  margin-top: 50px;
  position: relative;
}

.results {
  font-size: 14px;
  color: #70757a;
  margin: 10px 0;
}

.result-box {
  margin-bottom: 15px;
}

main .ref-link {
  display: inline-block;
  font-size: 14px;
  color: #3c4043;
  text-decoration: none;
  position: relative;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3c4043;
  right: -15px;
  top: 7px;
}

main .main-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
}

main .main-link:hover {
  text-decoration: underline;
}

main .result-desc {
  font-size: 14px;
  color: #3c4043;
  line-height: 1.5;
  margin: 5px 0;
}

main .result-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.result-info .info {
  flex: 1 1 1;
  width: 50%;
  color: #70757a;
}

.result-info .title-desc {
  font-weight: bold;
}

main .related-search-results ul {
  list-style-type: none;
  margin: 10px 0;
  padding-left: 0;
}

.related-search-results ul li {
  display: inline-block;
}

.related-search-results ul a {
  text-decoration: none;
  font-size: 14px;
}

.related-search-results ul a:hover {
  text-decoration: underline;
}

/* sessão aside */

.gallery-container {
  position: relative;
  height: 186px;
}

.gallery-container .first-img {
  border-top-left-radius: 10px;
}

.gallery-container .gallery {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 305px;
  height: 186px;
  left: 146px;
  top: 0;
}

.gallery div {
  flex: 1 1 30%;
  height: 50%;
  background-size: cover;
  background-position: center;
}

.gallery .img1 {
  background-image: url('../img/turing2.jpg');
}

.gallery .img2 {
  background-image: url('../img/turing3.jpg');
}

.gallery .img3 {
  background-image: url('../img/turing4.jpg');
}

.gallery .img4 {
  background-image: url('../img/turing5.jpg');
}

.gallery .img5 {
  background-image: url('../img/turing6.jpg');
}

.gallery .img6 {
  background-image: url('../img/turing7.jpg');
}

.gallery .btn-gallery {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  border-top-left-radius: 5px;
  text-decoration: none;
}

.gallery .btn-gallery:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

.gallery .btn-gallery span {
  margin-right: 5px;
}

.about-container {
  border: 1px solid #ebebeb;
}

.about-container .name-box {
  border-bottom: 1px solid #ebebeb;
  padding: 0 15px;
}

.name-box .name {
  font-weight: 400;
  font-size: 30px;
  margin: 10px 0;
}

.name-box .role {
  font-size: 14px;
  color: #70757a;
  margin: 0 0 20px 0;
}

.about-container .about-text {
  font-size: 14px;
  color: #222;
  line-height: 1.5;
  padding: 5px 15px;
}

.about-container .about-text span {
  font-weight: bold;
  padding: 15px 0;
}
